<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="name">
	<f:translate key="tx_fxteam_domain_model_team.name" />
</label><br />
	<f:form.textfield property="name" /><br />
<label for="age">
	<f:translate key="tx_fxteam_domain_model_team.age" />
</label><br />
	<f:form.textfield property="age" /><br />
<label for="mobile">
	<f:translate key="tx_fxteam_domain_model_team.mobile" />
</label><br />
	<f:form.textfield property="mobile" /><br />
<label for="address">
	<f:translate key="tx_fxteam_domain_model_team.address" />
</label><br />
	<f:form.textarea property="address" cols="40" rows="15" /><br />
<label for="country">
	<f:translate key="tx_fxteam_domain_model_team.country" />
</label><br />
	<f:form.textarea property="country" cols="40" rows="15" /><br />
</html>