<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-fx-emp" >
	<tr>
		<td>
			<f:translate key="tx_fxemp_domain_model_eployeee.name" />
		</td>
		<td>
		{eployeee.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fxemp_domain_model_eployeee.salary" />
		</td>
		<td>
		{eployeee.salary}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fxemp_domain_model_eployeee.age" />
		</td>
		<td>
		{eployeee.age}
		</td>
	</tr>
</table>
</html>